# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## User settings
xcuserdata/

## compatibility with Xcode 8 and earlier (ignoring not required starting Xcode 9)
*.xcscmblueprint
*.xccheckout

## compatibility with Xcode 3 and earlier (ignoring not required starting Xcode 4)
build/
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
# Package.pins
# Package.resolved
# *.xcodeproj
#
# Xcode automatically generates this directory with a .xcworkspacedata file and xcuserdata
# hence it is not needed unless you have added a package configuration file to your project
# .swiftpm

.build/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/
#
# Add this line if you want to avoid checking in source code from the Xcode workspace
# *.xcworkspace

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build/

# Accio dependency management
Dependencies/
.accio/

# fastlane
#
# It is recommended to not store the screenshots in the git repo.
# Instead, use fastlane to re-generate the screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection
#
# After new code Injection tools there's a generated folder /iOSInjectionProject
# https://github.com/johnno1962/injectionforxcode

iOSInjectionProject/
.DS_Store
Pods/Alamofire/LICENSE
Pods/Alamofire/README.md
Pods/Alamofire/Source/AFError.swift
Pods/Alamofire/Source/Alamofire.swift
Pods/Alamofire/Source/AlamofireExtended.swift
Pods/Alamofire/Source/CachedResponseHandler.swift
Pods/Alamofire/Source/DispatchQueue+Alamofire.swift
Pods/Alamofire/Source/EventMonitor.swift
Pods/Alamofire/Source/HTTPHeaders.swift
Pods/Alamofire/Source/HTTPMethod.swift
Pods/Alamofire/Source/MultipartFormData.swift
Pods/Alamofire/Source/MultipartUpload.swift
Pods/Alamofire/Source/NetworkReachabilityManager.swift
Pods/Alamofire/Source/Notifications.swift
Pods/Alamofire/Source/OperationQueue+Alamofire.swift
Pods/Alamofire/Source/ParameterEncoder.swift
Pods/Alamofire/Source/ParameterEncoding.swift
Pods/Alamofire/Source/Protector.swift
Pods/Alamofire/Source/RedirectHandler.swift
Pods/Alamofire/Source/Request.swift
Pods/Alamofire/Source/RequestInterceptor.swift
Pods/Alamofire/Source/RequestTaskMap.swift
Pods/Alamofire/Source/Response.swift
Pods/Alamofire/Source/ResponseSerialization.swift
Pods/Alamofire/Source/Result+Alamofire.swift
Pods/Alamofire/Source/RetryPolicy.swift
Pods/Alamofire/Source/ServerTrustEvaluation.swift
Pods/Alamofire/Source/Session.swift
Pods/Alamofire/Source/SessionDelegate.swift
Pods/Alamofire/Source/URLConvertible+URLRequestConvertible.swift
Pods/Alamofire/Source/URLEncodedFormEncoder.swift
Pods/Alamofire/Source/URLRequest+Alamofire.swift
Pods/Alamofire/Source/URLSessionConfiguration+Alamofire.swift
Pods/Alamofire/Source/Validation.swift
Pods/Manifest.lock
Pods/Moya/License.md
Pods/Moya/Readme.md
Pods/Moya/Sources/Moya/AnyEncodable.swift
Pods/Moya/Sources/Moya/Cancellable.swift
Pods/Moya/Sources/Moya/Endpoint.swift
Pods/Moya/Sources/Moya/Image.swift
Pods/Moya/Sources/Moya/Moya+Alamofire.swift
Pods/Moya/Sources/Moya/MoyaError.swift
Pods/Moya/Sources/Moya/MoyaProvider+Defaults.swift
Pods/Moya/Sources/Moya/MoyaProvider+Internal.swift
Pods/Moya/Sources/Moya/MoyaProvider.swift
Pods/Moya/Sources/Moya/MultipartFormData.swift
Pods/Moya/Sources/Moya/MultiTarget.swift
Pods/Moya/Sources/Moya/Plugin.swift
Pods/Moya/Sources/Moya/Plugins/AccessTokenPlugin.swift
Pods/Moya/Sources/Moya/Plugins/CredentialsPlugin.swift
Pods/Moya/Sources/Moya/Plugins/NetworkActivityPlugin.swift
Pods/Moya/Sources/Moya/Plugins/NetworkLoggerPlugin.swift
Pods/Moya/Sources/Moya/RequestTypeWrapper.swift
Pods/Moya/Sources/Moya/Response.swift
Pods/Moya/Sources/Moya/TargetType.swift
Pods/Moya/Sources/Moya/Task.swift
Pods/Moya/Sources/Moya/URL+Moya.swift
Pods/Moya/Sources/Moya/URLRequest+Encoding.swift
Pods/Moya/Sources/Moya/ValidationType.swift
Pods/Pods.xcodeproj/project.pbxproj
Pods/PromiseKit/Extensions/Foundation/Sources/afterlife.swift
Pods/PromiseKit/Extensions/Foundation/Sources/NSNotificationCenter+AnyPromise.h
Pods/PromiseKit/Extensions/Foundation/Sources/NSNotificationCenter+AnyPromise.m
Pods/PromiseKit/Extensions/Foundation/Sources/NSNotificationCenter+Promise.swift
Pods/PromiseKit/Extensions/Foundation/Sources/NSObject+Promise.swift
Pods/PromiseKit/Extensions/Foundation/Sources/NSTask+AnyPromise.h
Pods/PromiseKit/Extensions/Foundation/Sources/NSTask+AnyPromise.m
Pods/PromiseKit/Extensions/Foundation/Sources/NSURLSession+AnyPromise.h
Pods/PromiseKit/Extensions/Foundation/Sources/NSURLSession+AnyPromise.m
Pods/PromiseKit/Extensions/Foundation/Sources/NSURLSession+Promise.swift
Pods/PromiseKit/Extensions/Foundation/Sources/PMKFoundation.h
Pods/PromiseKit/Extensions/Foundation/Sources/Process+Promise.swift
Pods/PromiseKit/Extensions/UIKit/Sources/PMKUIKit.h
Pods/PromiseKit/Extensions/UIKit/Sources/UIView+AnyPromise.h
Pods/PromiseKit/Extensions/UIKit/Sources/UIView+AnyPromise.m
Pods/PromiseKit/Extensions/UIKit/Sources/UIView+Promise.swift
Pods/PromiseKit/Extensions/UIKit/Sources/UIViewController+AnyPromise.h
Pods/PromiseKit/Extensions/UIKit/Sources/UIViewController+AnyPromise.m
Pods/PromiseKit/Extensions/UIKit/Sources/UIViewPropertyAnimator+Promise.swift
Pods/PromiseKit/LICENSE
Pods/PromiseKit/README.md
Pods/PromiseKit/Sources/after.m
Pods/PromiseKit/Sources/after.swift
Pods/PromiseKit/Sources/AnyPromise+Private.h
Pods/PromiseKit/Sources/AnyPromise.h
Pods/PromiseKit/Sources/AnyPromise.m
Pods/PromiseKit/Sources/AnyPromise.swift
Pods/PromiseKit/Sources/Box.swift
Pods/PromiseKit/Sources/Catchable.swift
Pods/PromiseKit/Sources/Configuration.swift
Pods/PromiseKit/Sources/CustomStringConvertible.swift
Pods/PromiseKit/Sources/Deprecations.swift
Pods/PromiseKit/Sources/dispatch_promise.m
Pods/PromiseKit/Sources/Error.swift
Pods/PromiseKit/Sources/firstly.swift
Pods/PromiseKit/Sources/fwd.h
Pods/PromiseKit/Sources/Guarantee.swift
Pods/PromiseKit/Sources/hang.m
Pods/PromiseKit/Sources/hang.swift
Pods/PromiseKit/Sources/join.m
Pods/PromiseKit/Sources/LogEvent.swift
Pods/PromiseKit/Sources/NSMethodSignatureForBlock.m
Pods/PromiseKit/Sources/PMKCallVariadicBlock.m
Pods/PromiseKit/Sources/Promise.swift
Pods/PromiseKit/Sources/PromiseKit.h
Pods/PromiseKit/Sources/race.m
Pods/PromiseKit/Sources/race.swift
Pods/PromiseKit/Sources/Resolver.swift
Pods/PromiseKit/Sources/Thenable.swift
Pods/PromiseKit/Sources/when.m
Pods/PromiseKit/Sources/when.swift
Pods/SDWebImage/LICENSE
Pods/SDWebImage/README.md
Pods/SDWebImage/SDWebImage/Core/NSButton+WebCache.h
Pods/SDWebImage/SDWebImage/Core/NSButton+WebCache.m
Pods/SDWebImage/SDWebImage/Core/NSData+ImageContentType.h
Pods/SDWebImage/SDWebImage/Core/NSData+ImageContentType.m
Pods/SDWebImage/SDWebImage/Core/NSImage+Compatibility.h
Pods/SDWebImage/SDWebImage/Core/NSImage+Compatibility.m
Pods/SDWebImage/SDWebImage/Core/SDAnimatedImage.h
Pods/SDWebImage/SDWebImage/Core/SDAnimatedImage.m
Pods/SDWebImage/SDWebImage/Core/SDAnimatedImagePlayer.h
Pods/SDWebImage/SDWebImage/Core/SDAnimatedImagePlayer.m
Pods/SDWebImage/SDWebImage/Core/SDAnimatedImageRep.h
Pods/SDWebImage/SDWebImage/Core/SDAnimatedImageRep.m
Pods/SDWebImage/SDWebImage/Core/SDAnimatedImageView+WebCache.h
Pods/SDWebImage/SDWebImage/Core/SDAnimatedImageView+WebCache.m
Pods/SDWebImage/SDWebImage/Core/SDAnimatedImageView.h
Pods/SDWebImage/SDWebImage/Core/SDAnimatedImageView.m
Pods/SDWebImage/SDWebImage/Core/SDDiskCache.h
Pods/SDWebImage/SDWebImage/Core/SDDiskCache.m
Pods/SDWebImage/SDWebImage/Core/SDGraphicsImageRenderer.h
Pods/SDWebImage/SDWebImage/Core/SDGraphicsImageRenderer.m
Pods/SDWebImage/SDWebImage/Core/SDImageAPNGCoder.h
Pods/SDWebImage/SDWebImage/Core/SDImageAPNGCoder.m
Pods/SDWebImage/SDWebImage/Core/SDImageCache.h
Pods/SDWebImage/SDWebImage/Core/SDImageCache.m
Pods/SDWebImage/SDWebImage/Core/SDImageCacheConfig.h
Pods/SDWebImage/SDWebImage/Core/SDImageCacheConfig.m
Pods/SDWebImage/SDWebImage/Core/SDImageCacheDefine.h
Pods/SDWebImage/SDWebImage/Core/SDImageCacheDefine.m
Pods/SDWebImage/SDWebImage/Core/SDImageCachesManager.h
Pods/SDWebImage/SDWebImage/Core/SDImageCachesManager.m
Pods/SDWebImage/SDWebImage/Core/SDImageCoder.h
Pods/SDWebImage/SDWebImage/Core/SDImageCoder.m
Pods/SDWebImage/SDWebImage/Core/SDImageCoderHelper.h
Pods/SDWebImage/SDWebImage/Core/SDImageCoderHelper.m
Pods/SDWebImage/SDWebImage/Core/SDImageCodersManager.h
Pods/SDWebImage/SDWebImage/Core/SDImageCodersManager.m
Pods/SDWebImage/SDWebImage/Core/SDImageFrame.h
Pods/SDWebImage/SDWebImage/Core/SDImageFrame.m
Pods/SDWebImage/SDWebImage/Core/SDImageGIFCoder.h
Pods/SDWebImage/SDWebImage/Core/SDImageGIFCoder.m
Pods/SDWebImage/SDWebImage/Core/SDImageGraphics.h
Pods/SDWebImage/SDWebImage/Core/SDImageGraphics.m
Pods/SDWebImage/SDWebImage/Core/SDImageHEICCoder.h
Pods/SDWebImage/SDWebImage/Core/SDImageHEICCoder.m
Pods/SDWebImage/SDWebImage/Core/SDImageIOAnimatedCoder.h
Pods/SDWebImage/SDWebImage/Core/SDImageIOAnimatedCoder.m
Pods/SDWebImage/SDWebImage/Core/SDImageIOCoder.h
Pods/SDWebImage/SDWebImage/Core/SDImageIOCoder.m
Pods/SDWebImage/SDWebImage/Core/SDImageLoader.h
Pods/SDWebImage/SDWebImage/Core/SDImageLoader.m
Pods/SDWebImage/SDWebImage/Core/SDImageLoadersManager.h
Pods/SDWebImage/SDWebImage/Core/SDImageLoadersManager.m
Pods/SDWebImage/SDWebImage/Core/SDImageTransformer.h
Pods/SDWebImage/SDWebImage/Core/SDImageTransformer.m
Pods/SDWebImage/SDWebImage/Core/SDMemoryCache.h
Pods/SDWebImage/SDWebImage/Core/SDMemoryCache.m
Pods/SDWebImage/SDWebImage/Core/SDWebImageCacheKeyFilter.h
Pods/SDWebImage/SDWebImage/Core/SDWebImageCacheKeyFilter.m
Pods/SDWebImage/SDWebImage/Core/SDWebImageCacheSerializer.h
Pods/SDWebImage/SDWebImage/Core/SDWebImageCacheSerializer.m
Pods/SDWebImage/SDWebImage/Core/SDWebImageCompat.h
Pods/SDWebImage/SDWebImage/Core/SDWebImageCompat.m
Pods/SDWebImage/SDWebImage/Core/SDWebImageDefine.h
Pods/SDWebImage/SDWebImage/Core/SDWebImageDefine.m
Pods/SDWebImage/SDWebImage/Core/SDWebImageDownloader.h
Pods/SDWebImage/SDWebImage/Core/SDWebImageDownloader.m
Pods/SDWebImage/SDWebImage/Core/SDWebImageDownloaderConfig.h
Pods/SDWebImage/SDWebImage/Core/SDWebImageDownloaderConfig.m
Pods/SDWebImage/SDWebImage/Core/SDWebImageDownloaderDecryptor.h
Pods/SDWebImage/SDWebImage/Core/SDWebImageDownloaderDecryptor.m
Pods/SDWebImage/SDWebImage/Core/SDWebImageDownloaderOperation.h
Pods/SDWebImage/SDWebImage/Core/SDWebImageDownloaderOperation.m
Pods/SDWebImage/SDWebImage/Core/SDWebImageDownloaderRequestModifier.h
Pods/SDWebImage/SDWebImage/Core/SDWebImageDownloaderRequestModifier.m
Pods/SDWebImage/SDWebImage/Core/SDWebImageDownloaderResponseModifier.h
Pods/SDWebImage/SDWebImage/Core/SDWebImageDownloaderResponseModifier.m
Pods/SDWebImage/SDWebImage/Core/SDWebImageError.h
Pods/SDWebImage/SDWebImage/Core/SDWebImageError.m
Pods/SDWebImage/SDWebImage/Core/SDWebImageIndicator.h
Pods/SDWebImage/SDWebImage/Core/SDWebImageIndicator.m
Pods/SDWebImage/SDWebImage/Core/SDWebImageManager.h
Pods/SDWebImage/SDWebImage/Core/SDWebImageManager.m
Pods/SDWebImage/SDWebImage/Core/SDWebImageOperation.h
Pods/SDWebImage/SDWebImage/Core/SDWebImageOptionsProcessor.h
Pods/SDWebImage/SDWebImage/Core/SDWebImageOptionsProcessor.m
Pods/SDWebImage/SDWebImage/Core/SDWebImagePrefetcher.h
Pods/SDWebImage/SDWebImage/Core/SDWebImagePrefetcher.m
Pods/SDWebImage/SDWebImage/Core/SDWebImageTransition.h
Pods/SDWebImage/SDWebImage/Core/SDWebImageTransition.m
Pods/SDWebImage/SDWebImage/Core/UIButton+WebCache.h
Pods/SDWebImage/SDWebImage/Core/UIButton+WebCache.m
Pods/SDWebImage/SDWebImage/Core/UIImage+ExtendedCacheData.h
Pods/SDWebImage/SDWebImage/Core/UIImage+ExtendedCacheData.m
Pods/SDWebImage/SDWebImage/Core/UIImage+ForceDecode.h
Pods/SDWebImage/SDWebImage/Core/UIImage+ForceDecode.m
Pods/SDWebImage/SDWebImage/Core/UIImage+GIF.h
Pods/SDWebImage/SDWebImage/Core/UIImage+GIF.m
Pods/SDWebImage/SDWebImage/Core/UIImage+MemoryCacheCost.h
Pods/SDWebImage/SDWebImage/Core/UIImage+MemoryCacheCost.m
Pods/SDWebImage/SDWebImage/Core/UIImage+Metadata.h
Pods/SDWebImage/SDWebImage/Core/UIImage+Metadata.m
Pods/SDWebImage/SDWebImage/Core/UIImage+MultiFormat.h
Pods/SDWebImage/SDWebImage/Core/UIImage+MultiFormat.m
Pods/SDWebImage/SDWebImage/Core/UIImage+Transform.h
Pods/SDWebImage/SDWebImage/Core/UIImage+Transform.m
Pods/SDWebImage/SDWebImage/Core/UIImageView+HighlightedWebCache.h
Pods/SDWebImage/SDWebImage/Core/UIImageView+HighlightedWebCache.m
Pods/SDWebImage/SDWebImage/Core/UIImageView+WebCache.h
Pods/SDWebImage/SDWebImage/Core/UIImageView+WebCache.m
Pods/SDWebImage/SDWebImage/Core/UIView+WebCache.h
Pods/SDWebImage/SDWebImage/Core/UIView+WebCache.m
Pods/SDWebImage/SDWebImage/Core/UIView+WebCacheOperation.h
Pods/SDWebImage/SDWebImage/Core/UIView+WebCacheOperation.m
Pods/SDWebImage/SDWebImage/Private/NSBezierPath+RoundedCorners.h
Pods/SDWebImage/SDWebImage/Private/NSBezierPath+RoundedCorners.m
Pods/SDWebImage/SDWebImage/Private/SDAssociatedObject.h
Pods/SDWebImage/SDWebImage/Private/SDAssociatedObject.m
Pods/SDWebImage/SDWebImage/Private/SDAsyncBlockOperation.h
Pods/SDWebImage/SDWebImage/Private/SDAsyncBlockOperation.m
Pods/SDWebImage/SDWebImage/Private/SDDeviceHelper.h
Pods/SDWebImage/SDWebImage/Private/SDDeviceHelper.m
Pods/SDWebImage/SDWebImage/Private/SDDisplayLink.h
Pods/SDWebImage/SDWebImage/Private/SDDisplayLink.m
Pods/SDWebImage/SDWebImage/Private/SDFileAttributeHelper.h
Pods/SDWebImage/SDWebImage/Private/SDFileAttributeHelper.m
Pods/SDWebImage/SDWebImage/Private/SDImageAssetManager.h
Pods/SDWebImage/SDWebImage/Private/SDImageAssetManager.m
Pods/SDWebImage/SDWebImage/Private/SDImageCachesManagerOperation.h
Pods/SDWebImage/SDWebImage/Private/SDImageCachesManagerOperation.m
Pods/SDWebImage/SDWebImage/Private/SDImageHEICCoderInternal.h
Pods/SDWebImage/SDWebImage/Private/SDImageIOAnimatedCoderInternal.h
Pods/SDWebImage/SDWebImage/Private/SDInternalMacros.h
Pods/SDWebImage/SDWebImage/Private/SDInternalMacros.m
Pods/SDWebImage/SDWebImage/Private/SDmetamacros.h
Pods/SDWebImage/SDWebImage/Private/SDWeakProxy.h
Pods/SDWebImage/SDWebImage/Private/SDWeakProxy.m
Pods/SDWebImage/SDWebImage/Private/UIColor+HexString.h
Pods/SDWebImage/SDWebImage/Private/UIColor+HexString.m
Pods/SDWebImage/WebImage/SDWebImage.h
Pods/Target Support Files/Alamofire/Alamofire-dummy.m
Pods/Target Support Files/Alamofire/Alamofire-Info.plist
Pods/Target Support Files/Alamofire/Alamofire-prefix.pch
Pods/Target Support Files/Alamofire/Alamofire-umbrella.h
Pods/Target Support Files/Alamofire/Alamofire.modulemap
Pods/Target Support Files/Alamofire/Alamofire.xcconfig
Pods/Target Support Files/Moya/Moya-dummy.m
Pods/Target Support Files/Moya/Moya-Info.plist
Pods/Target Support Files/Moya/Moya-prefix.pch
Pods/Target Support Files/Moya/Moya-umbrella.h
Pods/Target Support Files/Moya/Moya.modulemap
Pods/Target Support Files/Moya/Moya.xcconfig
Pods/Target Support Files/Pods-Exercises-ExercisesUITests/Pods-Exercises-ExercisesUITests-acknowledgements.markdown
Pods/Target Support Files/Pods-Exercises-ExercisesUITests/Pods-Exercises-ExercisesUITests-acknowledgements.plist
Pods/Target Support Files/Pods-Exercises-ExercisesUITests/Pods-Exercises-ExercisesUITests-dummy.m
Pods/Target Support Files/Pods-Exercises-ExercisesUITests/Pods-Exercises-ExercisesUITests-frameworks-Debug-input-files.xcfilelist
Pods/Target Support Files/Pods-Exercises-ExercisesUITests/Pods-Exercises-ExercisesUITests-frameworks-Debug-output-files.xcfilelist
Pods/Target Support Files/Pods-Exercises-ExercisesUITests/Pods-Exercises-ExercisesUITests-frameworks-Release-input-files.xcfilelist
Pods/Target Support Files/Pods-Exercises-ExercisesUITests/Pods-Exercises-ExercisesUITests-frameworks-Release-output-files.xcfilelist
Pods/Target Support Files/Pods-Exercises-ExercisesUITests/Pods-Exercises-ExercisesUITests-frameworks.sh
Pods/Target Support Files/Pods-Exercises-ExercisesUITests/Pods-Exercises-ExercisesUITests-Info.plist
Pods/Target Support Files/Pods-Exercises-ExercisesUITests/Pods-Exercises-ExercisesUITests-umbrella.h
Pods/Target Support Files/Pods-Exercises-ExercisesUITests/Pods-Exercises-ExercisesUITests.debug.xcconfig
Pods/Target Support Files/Pods-Exercises-ExercisesUITests/Pods-Exercises-ExercisesUITests.modulemap
Pods/Target Support Files/Pods-Exercises-ExercisesUITests/Pods-Exercises-ExercisesUITests.release.xcconfig
Pods/Target Support Files/Pods-Exercises/Pods-Exercises-acknowledgements.markdown
Pods/Target Support Files/Pods-Exercises/Pods-Exercises-acknowledgements.plist
Pods/Target Support Files/Pods-Exercises/Pods-Exercises-dummy.m
Pods/Target Support Files/Pods-Exercises/Pods-Exercises-frameworks-Debug-input-files.xcfilelist
Pods/Target Support Files/Pods-Exercises/Pods-Exercises-frameworks-Debug-output-files.xcfilelist
Pods/Target Support Files/Pods-Exercises/Pods-Exercises-frameworks-Release-input-files.xcfilelist
Pods/Target Support Files/Pods-Exercises/Pods-Exercises-frameworks-Release-output-files.xcfilelist
Pods/Target Support Files/Pods-Exercises/Pods-Exercises-frameworks.sh
Pods/Target Support Files/Pods-Exercises/Pods-Exercises-Info.plist
Pods/Target Support Files/Pods-Exercises/Pods-Exercises-umbrella.h
Pods/Target Support Files/Pods-Exercises/Pods-Exercises.debug.xcconfig
Pods/Target Support Files/Pods-Exercises/Pods-Exercises.modulemap
Pods/Target Support Files/Pods-Exercises/Pods-Exercises.release.xcconfig
Pods/Target Support Files/Pods-ExercisesTests/Pods-ExercisesTests-acknowledgements.markdown
Pods/Target Support Files/Pods-ExercisesTests/Pods-ExercisesTests-acknowledgements.plist
Pods/Target Support Files/Pods-ExercisesTests/Pods-ExercisesTests-dummy.m
Pods/Target Support Files/Pods-ExercisesTests/Pods-ExercisesTests-Info.plist
Pods/Target Support Files/Pods-ExercisesTests/Pods-ExercisesTests-umbrella.h
Pods/Target Support Files/Pods-ExercisesTests/Pods-ExercisesTests.debug.xcconfig
Pods/Target Support Files/Pods-ExercisesTests/Pods-ExercisesTests.modulemap
Pods/Target Support Files/Pods-ExercisesTests/Pods-ExercisesTests.release.xcconfig
Pods/Target Support Files/PromiseKit/PromiseKit-dummy.m
Pods/Target Support Files/PromiseKit/PromiseKit-Info.plist
Pods/Target Support Files/PromiseKit/PromiseKit-prefix.pch
Pods/Target Support Files/PromiseKit/PromiseKit-umbrella.h
Pods/Target Support Files/PromiseKit/PromiseKit.modulemap
Pods/Target Support Files/PromiseKit/PromiseKit.xcconfig
Pods/Target Support Files/SDWebImage/SDWebImage-dummy.m
Pods/Target Support Files/SDWebImage/SDWebImage-Info.plist
Pods/Target Support Files/SDWebImage/SDWebImage-prefix.pch
Pods/Target Support Files/SDWebImage/SDWebImage-umbrella.h
Pods/Target Support Files/SDWebImage/SDWebImage.modulemap
Pods/Target Support Files/SDWebImage/SDWebImage.xcconfig
